/*** CHECKOUT - CARRIER ***/
/* warehouse block */
.warehouse_carriers_wrapper {
    margin-bottom: 30px;
}
.warehouse_title {
	margin:25px 0;
	text-align: center;
}
.warehouse_title .carrier-seller-title {font-size:15px; text-align:center; border-bottom:3px solid #343D44; position:relative; }
.warehouse_title .carrier-seller-title span { background-color: white; position: relative; top: 10px; padding: 0 15px; font-weight: bold; color: #343D44;}
.warehouse_title .carrier-shipped-by {
    font-size: 13px;
    margin-bottom: -5px;
}

/* delivery option */
body#checkout section.checkout-step .delivery-option {
    cursor: pointer;
    display: block !important;
    padding-left: 10px !important;
    border-left: 2px solid #f6f6f6;
}

body#checkout section.checkout-step .delivery-options .delivery-option.selected, .checkout-step .delivery-option:hover {
    border-color: #333333 !important;
    background: #e2f6f9;
}
body#checkout section.checkout-step .delivery-options .delivery-option:not(.selected):hover {
    background: #ebebeb;
}
body#checkout section.checkout-step .delivery-option label  {
    cursor: pointer;
}

.ori-carrier-extra-content {
    margin-top: 20px;
}

/* warehouse products summary */
.summary-product-item {
	display: flex;
	align-items: flex-start;
	border: 1px dotted #ccc;
    	margin-bottom: 15px;
    	padding: 5px;
}

.summary-product-item .product-image {
	max-width: 40px;
	margin-right: 1rem;
	align-self: center!important;
}

.summary-product-item .product-infos {
	align-self: center!important;
}

/*** END CHECKOUT - CARRIER ***/
